@model Movies.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name - <span class="text-primary">@Model.MembershipType.Name</span> </h2>
@if (Model.BirthDate != null)
{
    <h5>@Model.BirthDate.Value.ToShortDateString()</h5>

}
else
{
    <p></p>
}

